body {
    margin: 0 auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

nav {
    background-color: rgb(204 225 255);
    padding: 0 5rem;
}

nav > h1 {
    margin: 0;
    height: 100%;
    padding: 1rem 0;
    font-weight: 100;
    font-size: 1rem
}

.round-img {
    border-radius: 50%;
    height: 5rem;; 
}